<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gigs</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div *ngIf="gigs">
        <ion-card *ngFor="let g of gigs">
            <ion-card-header>
                <img src="{{g.photo}}">
                <ion-card-subtitle>{{g.username}}</ion-card-subtitle>
                <ion-card-title>{{g.title}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                {{g.description}}
            </ion-card-content>
            <ion-card-content>
                <ion-button fill="outline" slot="end"
                            [routerLink]="['/sidemenu-question/freelance/tabf/tab-gigs/gig-details/', g._id]">
                    View Gig
                </ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>