<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chat List</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="conversations">
        <ion-card *ngFor="let user of conversations">
            <ion-item>
                <ion-avatar class="ionAvatar" itemstart>
                    <img src="http://placehold.it/50*50">
                </ion-avatar>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h5><a (click)="chat(user._id, user.username)">{{user.username}}</a></h5>
                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-card>
    </div>
</ion-content>